
  
body{
background-image: url(/image/header-image.jpeg);
background-repeat: no-repeat;
background-position: right top;
background-attachment: fixed;
}

.img-fluid{
    position: relative;
    z-index: 1;
}